/* heroSection.module.scss */

.home {
    height: 95vh;
    background: linear-gradient(rgba(33, 33, 33, 0.522), rgba(33, 33, 33, 0.522)),
        url(../../../../public/Assets/image16.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    position: relative;
}

.image {
    object-fit: cover;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(33, 33, 33, 0.522);
}

.secContainer {
    width: 100%;
    z-index: 1;
}

.homeText {
    text-align: center;
    padding-bottom: 7rem;
}

.title {
    color: var(--whiteColor);
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 2.5rem;

    span {
        color: var(--PrimaryColor);
    }
}

.subTitle {
    color: var(--whiteColor);
    opacity: 0.9;
    font-size: 15px;
    font-weight: 400;
    padding: 1rem 0;
    max-width: 70%;
    text-align: center;
    margin: auto;
}

.btn {
    padding: 0.6rem 1.5rem;
    background: var(--PrimaryColor);
    color: var(--whiteColor);
    border: none;
    border-radius: 3rem;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: 15px;

    &:hover {
        background: var(--HoverColor);
    }

    a {
        color: var(--whiteColor);
        text-decoration: none;
    }
}

/* MEDIA QUERIES */
@media screen and (max-width: 768px) {
    .home {
        height: 100vh;
    }

    .homeText {
        padding-bottom: 9rem;
    }

    .title {
        color: var(--whiteColor);
        font-size: 2rem;
        font-weight: 700;
        line-height: 2.5rem;

        span {
            color: var(--PrimaryColor);
        }
    }
}

@media screen and (max-width: 480px) {
    .home {
        height: 110vh;
       
    }

    .homeText {
        padding-bottom: 4rem;
        margin-bottom: 40%;

        .title {
            font-size: 1.8rem;
        }
    }
}