/* flightSearch.module.scss */

.flightSearchCard {
    width: 85%;
    max-width: 1100px;
    border-radius: 1rem;
    padding: 1.5rem;
    background: var(--whiteColor);
    position: absolute;
    gap: 1rem;
    justify-content: center;
    top: 65%;
    transform: translate(-50%);
    left: 50%;
    box-shadow: 0 2px 8px 4px rgba(178, 178, 178, 0.45);

    form {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
        align-items: start;
    }
}

.tripTypeTop {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    margin-bottom: 1rem;
    grid-column: span 2;

    button {
        padding: 0.5rem 1.5rem;
        border: none;
        background-color: transparent;
        font-weight: 600;
        border-radius: 30px;
        cursor: pointer;
        transition: 0.3s;
        font-size: 15px;

        .icon {
            font-size: 15px;
            text-align: center;
            justify-content: center;
        }

        &:hover {
            background-color: #eaeaea;
        }
    }

    .active {
        background-color: var(--PrimaryColor);
        color: var(--whiteColor);
    }
}

.dateInput {
    position: relative;
    width: 100%;

    label {
        display: block;
        color: var(--textColor);
        font-weight: 500;
        font-size: 15px;
        padding-bottom: 0.4rem;

        .icon {
            font-size: 15px;
            color: var(--PrimaryColor);
        }
    }

    input {
        width: 100%;
        background: var(--inputColor);
        border-radius: 10px;
        border: none;
        padding: 10px;
        font-size: 13px;
        font-weight: 500;

        &::placeholder {
            font-size: 13px;
            opacity: 0.5;
            font-weight: 400;
        }

        &:focus {
            outline: none;
            border: 1px solid var(--PrimaryColor);
        }
    }
}

.passengersDiv {
    width: 100%;
    grid-column: span 2;

    label {
        display: block;
        color: var(--textColor);
        font-weight: 500;
        font-size: 15px;
        padding-bottom: 0.4rem;

        .icon {
            font-size: 16px;
            color: var(--PrimaryColor);
        }
    }

    .passengerInputs {
        display: flex;
        gap: 1rem;
        background: var(--inputColor);
        border-radius: 10px;
        padding: 10px;

        .passengerType {
            flex: 1;

            label {
                font-size: 13px;
                color: var(--textColor);
                padding-bottom: 0.2rem;
            }

            input {
                width: 100%;
                background: var(--whiteColor);
                border: 1px solid var(--greyText);
                border-radius: 10px;
                padding: 8px;
                font-size: 13px;
                font-weight: 500;

                &:focus {
                    outline: none;
                    border: 1px solid var(--PrimaryColor);
                }
            }
        }
    }
}

.searchBtn {
    width: 100%;
    padding: 0.6rem 1.5rem;
    color: var(--whiteColor);
    font-weight: 600;
    background: var(--PrimaryColor);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
    grid-column: span 2;
    font-size: 15px;

    &:hover {
        background: var(--HoverColor);
    }

    a {
        color: var(--whiteColor);
        text-decoration: none;
    }
}

/* MEDIA QUERIES */
@media screen and (max-width: 1240px) {
    .flightSearchCard {
        width: 90%;
    }
}

@media screen and (max-width: 768px) {
    .flightSearchCard {
        width: 95%;
        padding: 1rem;
        top: 60%;

        form {
            grid-template-columns: 1fr;
        }


        .tripTypeTop {
            grid-column: span 1;
        }

        .passengersDiv,
        .searchBtn {
            grid-column: span 1;
        }
    }
}

@media screen and (max-width: 480px) {
    .flightSearchCard {
        width: 95%;
        top: 55%;
    }

    .passengerInputs {
        flex-direction: column;
        gap: 0.5rem;
    }
}

.errorMessage {
    background: #fff3f3;
    color: #dc3545;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 15px;
    border: 1px solid #dc3545;
    font-size: 14px;
}

.icon {
    font-size: 18px;
}